<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Recipe</title>
    <link href="../static/css/edit.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun">
</head>
<body>
    <div class="container mt-5">
        <h1>Edit Recipe</h1>
        <form action="/edit/{{ recipe._id }}" method="post">
            <input type="text" name="name" value="{{ recipe.name }}" required>
            <textarea name="ingredients" required>{{ recipe.ingredients }}</textarea>
            <textarea name="steps" required>{{ recipe.steps }}</textarea>
            <button type="submit">Update Recipe</button>
        </form>
        <a href="/">Back to Home</a>
    </div>
    
</body>
</html>
